
<div class="col-md-6 col-md-offset-3"> 

        <div id="new_header"><h1>New Task </h1></div>
        
        <ul class="buttons">
                
                <li class="new" id='meeting'>Meeting</li>
                <li class="new" id='class'>Class</li>
                <li class = "new" id='shopping'>Shopping</li>
                <li class= "new" id='reminder'>Reminder</li>
                <li class= "new" id='to-do'>To-Do</li>
        </ul>
        
        
        
        <div id='form'></div>

</div>




<script>
        $(document).ready(function(){
                
                

                $('#meeting').click(function(){
                        $('#form').html("<%== escape_javascript(render('form_meeting')) %>")
                        var elem = document.getElementById("options");
                        elem.value = "meeting";
                        });
                $('#class').click(function(){
                        $('#form').html("<%== escape_javascript(render('form_class')) %>")
                        var elem = document.getElementById("options");
                        elem.value = "class";
                        });
                $('#shopping').click(function(){
                        $('#form').html("<%== escape_javascript(render('form_shopping')) %>")
                        var elem = document.getElementById("options");
                        elem.value = "shopping";
                        });
                $('#reminder').click(function(){
                        $('#form').html("<%== escape_javascript(render('form_reminder')) %>")
                        var elem = document.getElementById("options");
                        elem.value = "reminder";
                        });
                $('#to-do').click(function(){
                        $('#form').html("<%== escape_javascript(render('form_todo')) %>")
                        var elem = document.getElementById("options");
                        elem.value = "to-do";
                        });
                
                
                
        })

</script>