<h1><%= @task.Title%></h1>

<%= @task.Description %>

<%= @task.time %>


<%=@task.user.email%>



<%= link_to 'Destroy', task_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>