<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", 
  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="nav navbar navbar-default">
    <div class"container">
      <div class"navbar-brand"> <%=link_to "LifeTime", root_path%></div>
      
      <%- if user_signed_in?%>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "New Task", new_task_path%></li>
          <li><%= link_to "Account", edit_user_registration_path  %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
        </ul>
      <%-else%>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Up", new_user_registration_path%></li>
          <li><%= link_to "Sign In", new_user_session_path%></li>
        </ul>
      <%-end%>
    </div>
  </div>
    
  
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div sytle="background-color:LightSlateGray; height:100px; width:100px;"></div>
    <%= yield %>
  

</body>
</html>
